@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Bellota Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue-font {
  color:rgba(1, 151, 227, 0.8) !important;
}

.silver { 
  color:rgb(242, 243, 247); 
}

.silver-text {
  color:rgb(109,118,143);
}

.silver-bg {
  background-color: rgb(242, 243, 247);
}

.blue-bg {
  background-color:rgba(1, 151, 227) !important;  
}

.image-1 {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.image-2 {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}

.purple-text {
  color:rgb(54, 25, 125);
}

