@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Bellota Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue-font {
  color:rgba(1, 151, 227, 0.8) !important;
}

.silver-bg {
  background-color: rgb(242, 243, 247);
}